<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Submit Ban Report | Playhavior</title>
</head>
<body>

<h1>Submit a Ban Report</h1>

<form th:action="@{/ban-reports}" th:object="${banReport}" method="post">

  <p>
    <label for="stated_reason">Stated Reason:</label>
    <input id="stated_reason"
           type="text"
           th:field="*{stated_reason}"
           required>
  </p>

  <p>
    <label for="platform">Platform:</label>
    <input id="platform"
           type="text"
           th:field="*{platform}"
           required>
  </p>

  <button type="submit">Save Ban Report</button>
</form>

<p>
  <a th:href="@{/}">Back to home</a>
</p>

</body>
</html>